# For release builds, copy and rename this file to keystore.properties and fill in password.
# suppress inspection "UnusedProperty" for whole file
storePassword=
keyPassword=
swccgKeyAlias=
meccgKeyAlias=
trek1KeyAlias=
trek2KeyAlias=
